
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

div {
    padding: 0 !important;
    margin: 0 !important;
    min-width: 200px;
    overflow: hidden;
}

h2 {
    -webkit-text-stroke: 2px #000;
    margin: 0;
    padding: 0;
    font-size: 9vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "covidED covidAdmits pie-chart pie-chart hospitalized" "fatalities recovered pie-chart pie-chart quarantined-mandatory" "bar-chart bar-chart bar-chart bar-chart quarantined-voluntary";
    grid-gap: 0;
    height: 100%;
}

.pie-chart {
    grid-area: pie-chart;
}

.bar-chart {
    grid-area: bar-chart;
}

.covidED {
    grid-area: covidED;
}

.covidAdmits {
    grid-area: covidAdmits;
}

.fatalities {
    grid-area: fatalities;
}

.recovered {
    grid-area: recovered;
}

.hospitalized {
    grid-area: hospitalized;
}

.quarantined-mandatory {
    grid-area: quarantined-mandatory;
}

.quarantined-voluntary {
    grid-area: quarantined-voluntary;
}

@media all and (-ms-high-contrast:none) {
    .grid-container {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr 1fr;
    }

    .pie-chart {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
    }

    .bar-chart {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
    }

    .covidED {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .covidAdmits {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .fatalities {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .recovered {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .hospitalized {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
    }

    .quarantined-mandatory {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
    }

    .quarantined-voluntary {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
    }
}

.grid-container &gt; div {
    background-color: #fafafa;
    text-align: center;
    font-size: 30px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .grid-container &gt; div &gt; h5 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0 3px 3px 3px;
        color: #666;
        text-style: italic;
        font-size: 1rem;
    }

div.chart {
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    position: relative;
}

    div.chart canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

