*{
    font-size: 62.5%;
}


body{
    font-size: 10rem;
}


.jumbotron {
    font-size: 5em;
}


#currentDay{
    text-align: center;
    font-weight: bold;
}


.chart {
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    font-size: 3rem;
}
 h3{
     font-size:1.75rem;
 }

 .panel-content{
     padding: .5em;
 }

.canvas {
    height: 100%;
}

panel-footer{
    font-size: 2rem;
}

.panel panel-default {
    padding: 2em;
    font-size: 20rem;
}

.col-sm-12 {
    padding: 2em;
    border: 1px solid black;
}

.col-sm-4{
    padding: 1em;
    border: 1px solid black;
}


.highClass {
    color: red;
    font-size: 5rem;
    font-weight: bold;
}
.medClass {
    color: orange;
    font-size: 5rem;
    font-weight: bold;
}
.lowClass {
    color: green;
    font-size: 5rem;
    font-weight: bold;
}